.author__avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; /* Ensures the avatar remains circular */
    max-width: 333px; /* Adjust this size as needed */
}

.author__title, .author__bio {
    text-align: center; /* Centers the text under the avatar */
}