.author__avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; /* Ensures the avatar remains circular */
    max-width: 400px; /* Increase the size */
    max-height: 400px; /* Increase the size */
}


  .avatar-wrapper {
    width: 400px;  /* Match the image size */
    height: 400px;
  }

.author__title, .author__bio {
    text-align: center; /* Centers the text under the avatar */
}